@media screen and (min-width:768px) {

    #menu {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {
        position: static;
        flex-direction: row;
        width: auto;
        background: none;
    }

    nav a {
        display: block;
        padding: .75rem 1rem;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}